{% extends 'base.html' %} {% load static %} {% block main %}

<style>
  .logo-text {
    color: #e7f3fd !important;
  }
</style>

<header
  class="bg-center-cover"
  style="background-image: url('{% static 'assets/img/nothpy.png' %}')"
>
  <div class="dark-filter header">
    <div class="container">
      <div class="text-center py-5 text-light">
        <h2 class="logo-font mb-4 header-title">nothpy</h2>
        <h5 mb-4>- Just Python オウンドメディア -</h5>
        <span>Pythonに関する様々なことを投稿します</span>
      </div>
    </div>
  </div>
</header>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-5">
        <div class="text-center">
          <img
            src="{% static 'assets/img/just_python.png' %}"
            class="max-w-100 h-200"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-8 col-lg-7">
        <div class="pt-5">
          <p class="lead text-dark mb-0">
            nothpyはJust
            Pythonのオウンドメディア。Pythonやプログラミング、ITに関する様々な記事を投稿します。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mb-5">
        <div id="articleWrapper">
          <div class="article">
            <a href="">
              <div class="d-flex">
                <div>
                  <div class="px-3">
                    <h4 class="article-title">サンプルタイトル</h4>
                    <p class="text-secondary article-text font-12 mb-0">
                      これはサンプルのタイトルです。これはサンプルのタイトルです。
                    </p>
                    <span class="text-secondary font-14">2022/01/23</span>
                  </div>
                </div>
                <div class="flex-main">
                  <div>
                    <img
                      src="{% static 'assets/img/sample.jpg' %}"
                      class="img-center-cover article-img"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="text-center p-3">
          <a href="" class="btn btn-lg btn-outline-primary"
            >全ての記事を一覧する <i class="fas fa-list-ul"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-3 mb-5">
        <div class="border bg-light rounded p-3">
          <div class="text-center">
            <h5 class="text-dark">人気の記事</h5>
          </div>
          <div class="py-2">
            <span class="d-block mb-3 font-16"
              ><a href="">1位 サンプルタイトル</a></span
            >
            <span class="d-block mb-3 font-16"
              ><a href="">2位 サンプルタイトル</a></span
            >
            <span class="d-block mb-3 font-16"
              ><a href="">3位 サンプルタイトル</a></span
            >
            <span class="d-block mb-3 font-16"
              ><a href="">4位 サンプルタイトル</a></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
